<div class="page">
    <div class="container" style="padding-top: 2%;">
      <div class="card col-md-6 offset-3">
        <div class="card-header" style="display: flex; align-items: center;">
          <img src="https://cdn-icons-png.flaticon.com/512/9775/9775776.png" style="width: 10%; height: 8%;">
          <h1 style="font-size: 30px; margin-left: 10px;">Add a new customer</h1>
        </div>
        <div class="card-body" style="font-size: 30px;background: linear-gradient(3deg, #343a40, #d0ded5);border-radius: 10px" >
          <form [formGroup]="newCustomerFormGroup" (ngSubmit)="addCustomer()">
            <div class="mb-3">
              <div class="mb-3">
                <label class="form-label">Name:</label>
                <input type="text" formControlName="name" class="form-control" style="font-size: 20px;">
                <span class="text-danger" *ngIf=" newCustomerFormGroup.controls['name'].touched
              &&  newCustomerFormGroup.controls['name'].errors
              && newCustomerFormGroup.controls['name'].errors['required'] ">
                Name is required
              </span>
              </div>
              <label class="form-label">email :</label>
              <input type="text" formControlName="email" class="form-control" style="font-size: 20px;">
              <label class="form-label">Date of birthday :</label>
              <input type="date" formControlName="DateOfBirth" class="form-control" style="font-size: 20px;">
              <label class="form-label">Phone :</label>
              <input type="text" formControlName="tel" class="form-control" style="font-size: 20px;">
              <!-- Account Type Selection -->
              <div class="mb-3">
                <label class="form-label">Account Type : </label> <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="type" value="SavingAccount" id="savingsAccount" name="ee">
                    <label class="form-check-label" for="savingsAccount">
                        Saving Account
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="type" value="CurrentAccount" id="checkingAccount" name="ee">
                    <label class="form-check-label" for="checkingAccount">
                        Current Account
                    </label>
                </div>
            </div>

            <div *ngIf="newCustomerFormGroup.controls['type'].value === 'SavingAccount'">
                <h4>Saving Account Information</h4>
                <div class="mb-3">
                  <label class="form-label">Initial Balance :</label>
                  <input type="text" formControlName="InitialBalance" class="form-control">
                </div>
                <div class="mb-3">
                  <label class="form-label">Interest Rate :</label>
                  <input type="text" formControlName="savingInterestRate" class="form-control">
                </div>
              </div>
            
              <!-- Form for Current Account Information -->
              <div *ngIf="newCustomerFormGroup.controls['type'].value === 'CurrentAccount'">
                <h4>Current Account Information</h4>
                <div class="mb-3">
                    <label class="form-label">Initial Balance :</label>
                    <input type="text" formControlName="InitialBalance" class="form-control">
                </div>
                <div class="mb-3">
                  <label class="form-label">Overdraft Limit :</label>
                  <input type="text" formControlName="currentOverdraftLimit" class="form-control">
                </div>
              </div>

              <button [disabled]="!newCustomerFormGroup.valid" class="btn btn-success mt-3" style="font-size: 20px;width: 100%"> Save </button>
              <div class="mb-3">
              <span class="text-danger" *ngIf=" newCustomerFormGroup.controls['name'].touched
              &&  newCustomerFormGroup.controls['email'].errors
              && newCustomerFormGroup.controls['email'].errors['required'] ">
                Name is required
              </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    